APP_HOST=
APP_PORT=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=填写自己的MySQL密码
DB_NAME=kb_assistant_course

MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_PORT=587
MAIL_SERVER=smtp.qq.com
MAIL_FROM_NAME=kb_assistant
MAIL_STARTTLS=true
MAIL_SSL_TLS=false
